.failure-view-container {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.failure-view-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.job-item-details-failure-image {
  height: 40vh;
}
.job-item-detail-failure-heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: white;
  margin-bottom: 0;
  text-align: center;
}
.job-item-detail-failure-description {
  font-family: 'Roboto';
  font-size: 15px;
  color: rgb(197, 191, 191);
  text-align: center;
}
.job-item-detail-failure-button {
  font-family: 'Roboto';
  font-size: 15px;
  background-color: #6366f1;
  border: none;
  height: 30px;
  width: 120px;
  color: white;
  border-radius: 3px;
}
