.similar-job-each-item {
  background-color: #2c364c;
  border-radius: 10px;
  padding: 30px;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .similar-job-each-item {
    width: 100vw;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .similar-job-each-item {
    width: 35vw;
    margin-right: 30px;
  }
}
.similar-jobs-company-logo {
  height: 50px;
}
