.job-item-container {
  background-color: #2c364c;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}
.job-item-link {
  text-decoration: none;
}
.image-role-container {
  display: flex;
}
.company-logo {
  height: 50px;
}
.job-item-title-container {
  margin-left: 15px;
}
.job-item-title {
  margin: 0;
  font-family: 'Roboto';
  color: white;
  font-size: 18px;
}
.rating-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.rating-icon {
  color: rgb(255, 225, 0);
  margin-right: 7px;
}
.rating-number {
  font-family: 'Roboto';
  color: white;
  font-size: 18px;
  margin: 0;
}
.location-type-package-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location-type-container {
  display: flex;
  align-items: center;
}
.location-icon {
  color: white;
  margin-right: 12px;
}
.location-description {
  font-family: 'Roboto';
  color: rgb(196, 190, 190);
  font-size: 13px;
  margin-right: 12px;
}
.package-description {
  font-family: 'Roboto';
  color: white;
  font-size: 15px;
  margin: 0;
}
.jobitem-description-heading {
  font-family: 'Roboto';
  color: white;
  font-size: 17px;
}
.jobitem-description {
  font-family: 'Roboto';
  color: rgb(223, 218, 218);
  font-size: 15px;
  line-height: 25px;
}
