.jobs-bottom-container {
  display: flex;
  padding: 30px;
  background-color: black;
}

@media (max-width: 767px) {
  .jobs-bottom-container {
    flex-direction: column;
    background-color: black;
  }
}
@media (min-width: 768px) {
  .jobs-bottom-container {
    flex-direction: row;
  }
}
.search-panel-and-loader-container {
  flex-grow: 1;
}
@media (max-width: 767px) {
  .search-panel-small-devices-container {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 767px) {
  .search-panel-small-devices-container {
    display: none;
  }
}
@media (max-width: 767px) {
  .jobs-bottom-left-container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .jobs-bottom-left-container {
    min-width: 20vw;
  }
}
.horizontal-line {
  border: 1px solid #64748b;
}

.employment-search-panel-container {
  margin-top: 20px;
}
.employment-heading {
  font-family: 'Roboto';
  font-size: 16px;
  color: #f8fafc;
  font-weight: 400;
}
.employment-filters-list {
  list-style-type: none;
  padding-left: 0;
}
.employment-filter-each-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.employment-filter-label {
  font-family: 'Roboto';
  font-size: 14px;
  color: #f8fafc;
  margin-left: 8px;
}
.search-panel-and-jobs-container {
  flex-grow: 1;
}
.jobs-bottom-right-container {
  margin-top: 0;
  list-style-type: none;
}
.jobs-bottom-right-outer-container {
  flex-grow: 1;
}
@media (max-width: 767px) {
  .jobs-bottom-right-container {
    width: 100%;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .jobs-bottom-right-container {
    padding-left: 40px;
  }
}
@media (max-width: 767px) {
  .search-panel-large-devices-container {
    display: none;
  }
}
@media (min-width: 768px) {
  .search-panel-large-devices-container {
    display: block;
  }
}
.search-input-container {
  border: 1px solid #64748b;
  height: 30px;
  display: flex;
}
@media (max-width: 767px) {
  .search-input-container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .search-input-container {
    width: 50%;
    margin-left: 40px;
  }
}
.search-input {
  background-color: transparent;
  border: none;
  height: 30px;
  width: 100%;
  padding-left: 10px;
  outline: none;
  color: white;
}
.search-button {
  background-color: #2c364c;
  border: none;
}
.search-icon {
  color: white;
}
.no-jobs-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.no-jobs-found-image {
  height: 50vh;
}
@media (max-width: 767px) {
  .no-jobs-found-image {
    width: 80vw;
  }
}

.no-jobs-found-heading {
  font-family: 'Roboto';
  color: white;
  margin-bottom: 0;
}
.no-jobs-found-description {
  font-family: 'Roboto';
  color: rgb(192, 192, 192);
}
.profile-failure-view-button-container {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-retry-button {
  background-color: #6366f1;
  color: white;
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 100px;
  font-family: 'Roboto';
}
.profile-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
