.home-bottom-container {
  background-color: #121212;
  display: flex;
  height: 85vh;
}
@media (max-width: 767px) {
  .home-bottom-container {
    flex-direction: column;
  }
}
.home-heading-description-container {
  padding: 30px;
  padding-top: 60px;
  width: 50vw;
}
@media (max-width: 767px) {
  .home-heading-description-container {
    width: 100vw;
  }
}
.home-heading {
  font-family: 'Roboto';
  font-size: 40px;
  color: white;
  margin: 0;
}
.home-description {
  font-family: 'Roboto';
  font-size: 20px;
  color: white;
}
.home-image {
  height: 84vh;
  width: 50vw;
}
@media (max-width: 767px) {
  .home-image {
    width: 100vw;
  }
}
.find-jobs-button {
  background-color: #6366f1;
  color: white;
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 100px;
  font-family: 'Roboto';
}
