.header-container {
  background-color: #2c364c;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px;
  height: 15vh;
}
.home-jobs-container {
  display: flex;
  width: 15vw;
  justify-content: space-around;
}
.header-jobby-image {
  height: 40px;
}

.header-link {
  text-decoration: none;
}
@media (max-width: 767px) {
  .header-link-text {
    display: none;
  }
}

@media (min-width: 768px) {
  .header-link-text {
    display: block;
    color: white;
    font-family: 'Roboto';
  }
}

.header-icon {
  color: white;
  height: 30px;
  width: 30px;
}

@media (max-width: 767px) {
  .logout-button {
    display: none;
  }
}
@media (min-width: 768px) {
  .logout-button {
    display: block;
    background-color: #6366f1;
    color: white;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 100px;
    font-family: 'Roboto';
  }
}
@media (max-width: 767px) {
  .header-icons-container {
    display: flex;
    justify-content: space-between;
    width: 30vw;
  }
}
@media (min-width: 768px) {
  .header-icons-container {
    display: none;
  }
}
