.login-container {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #2c364c;
  border-radius: 10px;
  padding: 30px;
  height: 60vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .form-container {
    width: 90vw;
  }
}

.login-image-container {
  display: flex;
  justify-content: center;
}
.login-image {
  height: 40px;
}
.login-fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}
.username-container {
  margin-bottom: 10px;
  width: 100%;
}
.username-label {
  font-family: 'Roboto';
  color: white;
  font-size: 12px;
}
.username-input {
  background-color: transparent;
  border: 1px solid #64748b;
  height: 30px;
  margin-top: 7px;
  border-radius: 2px;
  padding-left: 10px;
  outline: none;
  width: 100%;
  color: #64748b;
}
.login-button {
  width: 100%;
  margin-top: 20px;
  background-color: #4f46e5;
  border: none;
  color: white;
  border-radius: 5px;
  height: 30px;
}
.login-errormsg {
  font-family: 'Roboto';
  color: red;
  font-size: 10px;
  width: 100%;
}
